

#banner {
	background-image: url('public/images/banner.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
}

#banner #darken {
	background: rgba(0,0,0,0.54);
}

#banner #logo-container {
	letter-spacing: 1.3rem;
	z-index: 10;
	background-image: linear-gradient(to bottom, transparent, 30%, rgba(0,0,0,0.7), 95%, transparent);
}

#banner img {
	width: 170px;
	user-select: none;
}

#restaurant-name {
	transform: translateX(3%);
	user-select: none;
}

#chevron-container {
	bottom: 10px;
	left: 50%;
	transform: translateX(-100%);
}

#chevron {
	bottom: 10px;
	font-size: 2rem;
}

#chevron2{
	bottom: 30px;
	font-size: 2rem;
}




.container {
/*
	background: #1E040C;
*/
}

.nav-link:link {
	color: #400819;
}
.nav-link:visited {
	color: #400819;
}
.nav-link:hover {
	color: #400819;
}
.nav-link:active {
	color: #400819;
}

#Booking .h3 {
	color: #400819;
}

#customer-info-title,
#room-type,
#amenities,
#advance {
	background: #400819;
}

#customer-info {
	display: grid;
	grid-template-columns: 4fr 8fr;
	align-items: center;
}

#main-area {
	background: url(public/images/resto-bg-1.jpg);
	background-size: cover;
}


#Dining {
	height: 100vh;
	background: url(public/images/under-construction.png);
	background-size: 450px;
	background-position: center;
	opacity: 0.8;
	border-radius: 25px;
}

#About {
	text-indent: 2rem;
}

#About,
#Booking {
	background: rgba(255,255,255,0.8);
}

#one button,
#two button,
#three button,
#four button {
	background: #400819;
	color: white;
}

#note {
	font-size: 0.8rem;
}


@media screen and (max-width: 412px) {
	#customer-info {
		grid-template-columns: 1fr;
	}
	
	#main-area img {
		height: 150px;
	}
}
